<footer class="footer">
  <small>
    <%= t(".charra1") %><%= link_to t(".link1"), "http://www.railstutorial.org/" %><%= t(".charra2") %>
    <%= link_to t(".link2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".link3"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
